<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDo List</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <style>
        body {
            background: linear-gradient(45deg, #6ac1c5, #bda5ff);
        }
        #list{
            background: linear-gradient(#e66465, #9198e5);
            width: 50%;
            height: 500px;
            padding: 12px;
            
        }
        li{
            padding: 10px;
        }
        
    </style>


</head>

<body>

  

    <div id="list">

       <div class="container">
           
          <h1>Todo List</h1>
        <div v-if="!isEditing"> 

                        <!--V-model är en 2-way binding som "todo"-->
          <input type="text" v-model="todo">
          <input type="submit" value="lägg till" @click ="storeTodo">
          <input type="submit" value="rensa allt" @click ="clearTodo">

        </div>

        <div v-else>

            <input type="text" v-model="todo">
            <input type="submit" value="updatera" @click ="updateTodo" >

        </div>



          <ol>
              <li v-for="(todo, index) in todos"> <!-- lägg till index via loopen i v-for-->
                  {{ todo}}

                  <button @click="editTodo(index, todo)"> ändra  </button>
                  <button @click="deleteTodo(index)"> delete</button>
                  <input type="checkbox" name="klar">
                  <label for="klar"> <i>klar</i></label>
              </li>
          </ol>

       </div>

    </div>

    

        <script src="https://unpkg.com/vue">    </script>

        <script>
          new Vue({
              el: '#list',
              data: {
                  isEditing: false,
                  selectedIndex: null,
                  todo: '',
                  todos: []
              },


              methods: {
                  storeTodo() {
                      this.todos.push(this.todo)  //när mågon klickar på knappen efter att lagt till information/data i inputen fältet och sedan ta den ifnoramtion och lägga till den i todo:s listan
                      this.todo = '' //tömmer input fältet så det blir tomt igen när man ska skriva. 
                  },
                  editTodo(index, todo) { //sätter input fältet till den punkten man vill ändra på. 
                  this.todo = todo
                  this.selectedIndex = index
                  this.isEditing = true
              },

              updateTodo() { //splice byter content på elementen i array,
                    this.todos.splice(this.selectedIndex, 1, this.todo)//kollar på vilken item användaren har klickat på "edit" knappen, då försvinner ett item och ett nytt kommer
                    this.isEditing = false    //det nya item är this.todo vilket användaren ändrar på
                                   
              },
               deleteTodo(index) {
                   this.todos.splice(index, 1,)
               } ,
                 /*
                 clearTodo Verkar inte fungera efter när man klickat den och när den rensar allt, man kan inte lägga till nya saker efter rensningen.
                  Trodde först det var något med strängen men efter att ha skrivit samma kod som i storeTodo-metoden så fungerar den inte fortfarande 
                  så det är något helt fel med metoden.  den är pajj

                */
               clearTodo() { // this.todos = ''   detta rensar allt
               
                   this.todos = ''
                   
                   
               },




              }

                                                                       
          })
        
        

        </script>




</body>

</html>